.order-thanks {
  height: 600px;
  margin-top: 150px;
}

.hvr-shutter-in-vertical {
  background-color: #3dd5f3;
}
.order-button {
  position: relative;
  z-index: 100;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


